html{scroll-behavior: smooth;}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue: #10152c;
    --white: #ffffff;
    --yellow: #fdbf14;
}
a:visited{
    color: #fff;
}
p{
    font-size: 18px;
}
h1{
    font-size: 52px;
    font-weight: 700;
}
body{
    font-family: 'Poppins', sans-serif !important;
}

/* nav styles */
nav{
    height: 70px;
    width: 100%;
    background-color: var(--blue);
    /* display: inline; */
}
.logo-con{
    max-width: 150px;
    /* padding: 10px 0; */
    float: left;
}
.logo{
    max-width: 150px;
    padding: 10px 0;
}
.nav-list{
    float: right;
    padding-top: 20px;
}
.nav-list li{
    display: inline;
    list-style-type: none;
}
.nav-list li a{
    color: var(--white);
    text-decoration: none;
    margin-left: 30px;
    margin-top: 5px;
}
.nav-list li a:hover{
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
    padding-bottom: 20px;
    transition: all ease 0.5s;
}
/* nav styles ends */

/* content area */
.hero-section{
    padding: 80px 0;
    background-color: #fff;
    height: auto;
}
.lightbulb{
    margin-left: 100px;
    max-width: 60%;
    height: auto;
    vertical-align: middle;
    animation: blink normal 5s infinite ease-in-out;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}
.content{
    margin-top: 140px;
}
.hero-heading{
    font-size: 52px;
    font-weight: 700;
}
.hero-text{
    margin-top: 20px;
}
.heroBtn{
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    background-color: #10152c;
    color: #fff;
}
span{
    color: var(--yellow);
}
/* content area ends */

/* why section */
.why-section{
    background-color: #f2f5f8;
    height: 700px;
}
.whyLearn{
    margin-top: 120px;
}
.whyLearn h2{
    font-size: 40px;
    font-weight: 400;
}
.cards{
    margin-top: 50px;
}
.why-cards{
    position: relative;
    border-radius: 8.2px;
    border: .5px solid hsla(0,0%,76.9%,.3);
    padding: 41.82px 30.34px 23.78px;
    box-shadow: 0 4px 20px rgba(0,0,0,.05);
    margin-bottom: 24px;
    cursor: pointer;
    height: 250px;
    transition: box-shadow .318s ease-out;
}
.why-cards:hover {
    box-shadow: 0 4px 31px rgba(0,0,0,.18);
}
.title h5{
    font-size: 20px;
    font-weight: 700;
}
.paragraph{
    margin-top: 20px;
}
/* why section ends */

/* about section */
.about-section{
    background-color: #f2f5f8;
}
.imgCon{
    max-width: 100%;
    /* width: 550px; */
    height: 300px;
    box-shadow: 0 4px 20px rgba(0,0,0,.05);
    border: .5px solid hsla(0,0%,76.9%,.3);
    background: url('/images/IMG_1703.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    transition: box-shadow .318s ease-out;
    margin-top: 80px;
}
.imgCon:hover{
    box-shadow: 0 4px 31px rgba(0,0,0,.18);
}
.about{
    margin-left: 60px;
    margin-bottom: 200px;
    opacity: 1;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}
.about h2{
    font-size: 40px;
    font-weight: 400;
}
.aboutAppear{
    opacity: 1;
    transform: translateY(0px);
}
/* about section ends */
/* footer section */
footer {
    height: 300px;
    background-color: var(--blue);
    overflow: hidden;
    position: relative;
  }
  .footerItems {
    display: flex;
    margin-top: 50px;
  }
  .footerLists {
    display: flex;
    margin-left: 150px;
  }
  .listItem h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }
  label {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .listItem li {
    list-style-type: none;
    margin: 2%;
  }
  .listItem li a {
    color: #ccc;
  }
  .input1 {
    width: 60%;
    line-height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    outline: none;
  }
  .footerBtn {
    padding: 8px 5px;
    border-radius: 10px;
    background-color: #fdac1d;
    color: black;
    outline: none;
    border: none;
  }
  
  .copyright {
    left: 50%;
    right: -50%;
    position: absolute;
    bottom: 0;
    color: #ccc;
    font-size: 12px;
  }

/* animation loading */
.intro{
    background-color: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text{
    color: var(--yellow);
}
.intro-text h1{
    font-size: 48px;
    font-weight: 700;
}
.slider{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.hiden{
    /* background: black; */
    overflow: hidden;
}
.hiden span{
    transform: translateY(100%);
    display: inline-block;
}



/* media queries */
@media (max-width: 1000px){
    .why-cards{
        height: 350px;
    }
    .hero-heading{
        font-size: 53px;
    }
    .about{
        margin-left: 0px;
    }
}
@media (max-width: 500px){
    .content{
        margin-top: 0;
    }
    .why-section{
        height: auto;
    }
    .whyLearn{
        margin-top: 100px;
    }
    .intro-text{
        padding-left: 30px;
    }
    /* .imgCon{
        width: 400px;
    } */
}