*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue: #10152c;
    --white: #ffffff;
    --yellow: #fdbf14;
}
p{
    font-size: 18px;
}
h1{
    font-size: 52px;
    font-weight: 700;
}
body{
    font-family: 'Poppins', sans-serif !important;
    background-color: #f2f5f8;
}
span{
    color: var(--yellow);
}

/* nav styles */
nav{
    height: 60px;
    width: 100%;
    background-color: var(--blue);
    /* display: inline; */
}
.logo-con{
    max-width: 150px;
    /* padding: 10px 0; */
    float: left;
}
.logo{
    max-width: 150px;
    padding: 10px 0;
}
.nav-list{
    float: right;
    padding-top: 20px;
}
.nav-list li{
    display: inline;
    list-style-type: none;
}
.nav-list li a{
    color: var(--white);
    text-decoration: none;
    margin-left: 30px;
}
.nav-list li a:hover{
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
    padding-bottom: 20px;
    transition: all ease 0.5s;
}
/* nav styles ends */
.titleContent{
    text-align: center;
    margin-top: 50px;
}
.titleContent h1{
    font-size: 52px;
    font-weight: 700;

}
.team-members{
    margin-top: 60px;
}
.trainees{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}
.trainee{
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin: 2%;
    cursor: pointer;
}
.trainee p{
    text-align: center;
    margin-top: 5px;
}
.profile{
    width: 200px;
    height: 200px;
    vertical-align: middle;
    border-radius: 50%;
}
/* modal */
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    /* display: none; */
    transition: all 0.5s ease-in-out;
}
.modal-con{
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #fff;
    border-radius: 5px;
    /* display: flex; */
    justify-content: space-around;
    position: relative;
}
.modal-img{
    margin: 3%;
}
.modal-info{
    /* margin: 2%; */
    margin-top: 50px;
    padding: 20px;
    padding-top: 50px;
    height: 400px;
    overflow-y: scroll;
}
.modal-info h3{
    color: var(--yellow);
}
.plus{
    width: 50px;
    height: 20px;
    float: right;
    cursor: pointer;
    background: gray;
}
.plus p{
    font-size: 42px;
    color: red;
    transform: rotate(45deg);
}
.open{
    display: block;
}
.closed{
    display: none;
}

@media (max-width: 500px) {
    .trainees{
        justify-content: space-evenly;
    }
    .trainee{
        margin-bottom: 10%;
    }
}