* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --blue: #10152c;
  --white: #ffffff;
  --yellow: #fdbf14;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 52px;
  font-weight: 700;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #f2f5f8;
}

span {
  color: var(--yellow);
}

/* nav styles */
nav {
  height: 70px;
  width: 100%;
  overflow: hidden;
  background-color: var(--blue);
  padding: 10px;
}

.logo-con {
  max-width: 150px;
  float: left;
}

.logo {
  max-width: 150px;
}

.nav-list {
  float: right;
  padding-top: 10px;
}

.nav-list li {
  display: inline;
  list-style-type: none;
}
.nav-list li a {
  color: var(--white);
  text-decoration: none;
  margin-left: 30px;
}
.nav-list li a:hover {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
  padding-bottom: 20px;
  transition: all ease 0.5s;
}
.toggle {
  cursor: pointer;
  float: right;
  padding-top: 5px;
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-8px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-7px, -6px);
}
/* nav styles ends */
.training-content {
  margin-bottom: 80px;
}
.titleContent {
  text-align: center;
  margin-top: 50px;
}
.titleContent h1 {
  font-size: 52px;
  font-weight: 700;
}
.team-members {
  margin-top: 60px;
}
.trainees {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.trainee {
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
  border-radius: 50%;
  margin: 2%;
  margin-bottom: 30px;
  cursor: pointer;
}
.trainee p {
  text-align: center;
  margin-top: 5px;
}
.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
/* modal */
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  /* display: none; */
  transition: all 0.5s ease-in-out;
  z-index: 3000;
}
.modal-con {
  width: 700px;
  margin: 1em auto;
  margin-top: 2em;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.modal-img {
  margin: 2em;
}
.modal-info {
  margin-right: 2em;
  padding: 1em;
  height: auto;
  overflow-y: scroll;
  word-wrap: break-word;
}
.modal-info h3 {
  color: var(--yellow);
  font-weight: 700;
}
.modal-info::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
  height: 300px;
}

.modal-info::-webkit-scrollbar-track-piece:end {
  margin-bottom: 10px;
}

.modal-info::-webkit-scrollbar-track-piece:start {
  margin-top: 40px;
}

.modal-info::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-info::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 10px;
}

.modal-info::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

.modal-info::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 10px;
}

.modal-info::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-info::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
  height: 200px;
}

.close {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 4em !important;
  outline: none;
}

.open {
  display: grid;
  place-items: center;
}
.closed {
  display: none;
}
.socials a {
  color: var(--blue);
  margin-left: 15px;
  font-size: 20px;
}

i:hover {
  color: var(--yellow);
}

/* footer section */
footer {
  height: auto;
  background-color: var(--blue);
}
.footer-items {
  padding: 80px 0;
}
.footer-item h5 {
  color: var(--yellow);
  font-size: 16px;
  font-weight: 700;
}
.footer-item li {
  list-style-type: none;
  margin-bottom: 10px;
}
.footer-item a {
  color: white;
}
.footer-item a:hover {
  text-decoration: none;
  color: #ccc;
  opacity: 0.6;
}
label {
  color: #fff;
}
.input1 {
  border-radius: 5px;
  padding: 10px 10px;
  border: none;
  text-align: center;
  outline: none;
  display: block;
}
.footerBtn {
  padding: 8px 10px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #fdac1d;
  color: black;
  outline: none;
  border: none;
}
/* media queries */
@media (max-width: 768px) {
  .modal-info {
    padding: 5em 1em;
    margin-right: 0;
    padding-right: 3em;
  }
  .modal-con{
    width: 650px;
  }
  .modal-info h3 {
    margin-top: 0;
  }
}
@media (max-width: 700px) {
  .nav-list {
    position: absolute;
    right: 0px;
    height: 100%;
    background-color: var(--blue);
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1000;
    transform: translateY(-120%);
    transition: transform 0.5s ease-in;
  }
  .nav-list li {
    margin: 10%;
    font-size: 22px;
  }
  .nav-active {
    transform: translateY(0%);
  }
  .intro-text {
    padding-left: 30px;
  }
  .toggle {
    display: inline-block;
  }
  .trainee{
    margin-bottom: 30px;
  }
  .modal-con{
    width: 550px;
  }
  /* footer */
  .footer-items {
    padding: 30px 0px;
  }
  .footer-item {
    margin-top: 30px;
    margin-left: 20px;
  }
  .footer-item li {
    margin-bottom: 20px;
  }
}

@media only screen and (orientation: landscape) {
  .modal-info {
    padding: 1em;
    margin: 1em;
    height: 300px;
    padding-right: 1.5em;
  }

  .modal-info h3 {
    margin-top: 20px;
  }
}

@media (max-width: 550px) {
  .trainees {
    justify-content: space-evenly;
  }
  .trainee {
    margin-bottom: 10%;
  }
  .modal-con {
    width: 350px;
    flex-direction: column;
    height: 90vh;
  }
  .modal-info {
    /* padding-top: 0px; */
    margin: 1em;
    margin-top: 0;
  }

  .modal-info h3 {
    margin-top: 0;
  }

  .close {
    font-size: 1em;
  }
}
/* media queries ends */

@media (max-width: 390px) {
  .modal-con {
    width: 300px;
  }
}

.spinner {
  pointer-events: none;
  width: 20rem;
  height: 20rem;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: var(--yellow);
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
  margin: 5% auto;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}
